/* COLORS */
$color-primary-dark: #5ca5c9;
$color-primary: #90d0e3;
$color-primary-light:#f2fbfd;
$color-secondary: #184751;
$color-secondary-light: #32616B;
$color-tertiary: z;
$color-tertiary-dark:#DE7A15;
$color-white: #ffffff;
$color-grey-dark: #333;
$color-grey: #777777;
$color-grey-light: #F3FAFC;
$color-black: #000;


/* FONT-SIZES */

$fs-100: 0.512rem;
$fs-200: 0.64rem;
$fs-300: 0.85rem;
$fs-400: 1rem;
$fs-500: 1.25rem;
$fs-600: 1.563rem;
$fs-700: 1.953rem;
$fs-800: 2.441rem;
$fs-900: 3.052rem;