@import "../../../scss/utils/variables";

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/events.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;

  &-text {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
}

.heading {
  &-primary {
    font-size: $fs-900 * 1.5;
  }
  &-secondary{
    max-width: 75rem;
    margin-inline: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
}
