@import "../scss/utils/variables";

.hero-slider {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  &__pair {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    &.active {
      opacity: 1;
      animation: slideIn 1s ease-in-out; /* Add slideIn animation */
      .hero-slider__text {
        animation-delay: 1s;
        animation: slide-in 2s ease-in-out, opacity 2.5s ease-in-out;
      }
    }

    &.exit {
      animation: slideOut 1s ease-in-out; /* Add slideOut animation */
      .hero-slider__text {
        animation-delay: 1s;
        animation: slide-out 2s ease-in-out, opacity 2.5s ease-in-out;
      }
    }
  }
  &__heading-area {
    display: grid;
    gap: 1.2rem;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 3rem;
    color: $color-primary-light;
    line-height: 1;
    padding: 0;
    display: grid;
    justify-content: start;
    gap: 6rem;
    transform: translate(0, -50%);
    .heading-secondary {
      font-size: $fs-600;
      color: $color-grey;
    }
    .heading-primary {
      font-size: $fs-900 * 1.2;
      max-width: 10ch;
      text-transform: uppercase;
      font-family: "Cera-heavy", sans-serif;
      color: $color-primary;
    }
  }
  &__other-area {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
.category-tag {
  background-color: $color-primary-dark;
  padding: 1rem 1.2rem;
  color: $color-primary-light;
}

.heading-tertiary {
  padding: 0.9rem 1.2rem;
  box-shadow: 0 0 0 1px $color-primary-dark;
  color: $color-primary;
  font-size: $fs-300;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translate(-200%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translate(0, -50%);
  }
  to {
    opacity: 0;
    transform: translate(200%, -50%);
  }
}
.btn {
  position: relative;
  text-transform: capitalize;
  font-size: $fs-400;
  background-color: $color-tertiary;
  padding: 0.9rem 1.1rem;
  font-family: "Cera-light", sans-serif;
  box-shadow: 0 1px 1rem $color-tertiary;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    background-color: $color-tertiary-dark;
  }
  &:active {
    background-color: $color-tertiary-dark;
    box-shadow: none;
  }
}

@media (min-width: 1000px) {
  .hero-slider {
    &__text {
      left: 10%;
      .heading-secondary {
        font-size: $fs-700;
      }
      .heading-primary {
        font-size: $fs-900 * 2.5;
        max-width: 10ch;
      }
    }
    .btn {
      font-size: $fs-500;
    }
    &__other-area {
      gap: 5rem;
    }
  }
}
