@import "./scss/utils/variables";
@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.css";
@import "primeicons/primeicons.css";

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
body {
  color: $color-secondary-light;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #eee;
}

p {
  font-size: $fs-300;
}
section {
  max-width: 75rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
  margin-block: 15rem;
}
*:focus {
  outline: 2px solid $color-primary;
}
html::-webkit-scrollbar {
  width: 0.25rem;
}

html::-webkit-scrollbar-track {
  background: $color-secondary-light;
}

html::-webkit-scrollbar-thumb {
  background: $color-secondary;
  border-radius: 10px;
}
.leaflet-container {
  height: 10rem;
}
@media (min-width: 470px) {
  p {
    font-size: $fs-400;
  }
}
@media (min-width: 1000px) {
  section {
  }
  .leaflet-container {
    height: 10rem;
  }
}
